<!DOCTYPE html>
   <head>
       <title>Jasper's Brain</title>
       <link type="text/css" rel="stylesheet" href="../static/style.css">
       <script src="/static/lib/jquery/jquery-3.5.1.min.js"></script>
       <script src="/static/lib/socketio/socket.io.js"></script>
       <script src="/static/script.js"></script>
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      <h1>Jasper's Brain</h1>
      <div id="info">
          <div>Datetime: &nbsp;<span id="clock"></span></div>
      </div>
      <div id="videostreaming">
          <h3>Jasper's Eyes</h3>
          <img src="{{ url_for('video_feed') }}">
      </div>
   </body>
</html>