<!DOCTYPE html>
   <head>
       <title>Jasper's Brain</title>
       <!-- libraries -->
       <script src="/static/lib/jquery/jquery-3.5.1.min.js"></script>
       <script src="/static/lib/socketio/socket.io.js"></script>
       <!-- custom styling and scripts -->
       <link type="text/css" rel="stylesheet" href="/static/style.css">
       <script src="/static/script.js"></script>
       <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
   </head>
   <body>
      <h1>Jasper's Brain</h1>
      <div id="info">
          <div>Age: &nbsp;<span id="age">{{ age }}</span></div>
      </div>
      <br>
      <div style="display:flex; justify-content:center">
        <button id="shutdown" class="button" type="button" style="margin-right:20px;background-color:palevioletred; border-color:palevioletred">Shutdown</button>
        <button id="nudge" class="button" type="button" style="margin-right:20px">Nudge</button>
        <form style="position:relative">
            <input id="whisper_content" class="whisper"type="text" style="height: 30pt;border: solid 2pt lightslategray;width: min(50vw, 400px);overflow-x: scroll;padding-right: 75px;" placeholder="Your message">
            <button id="whisper_submit" class="button" type="button" style="position:absolute;right:0px; height: 47.3125px">Whisper</button>
        </form>
      </div>
      <br>
      <div id="videostreaming">
          <h3>Jasper's Eyes</h3>
          <img src="{{ url_for('video_feed') }}">
      </div>
      <br>
      <h3>Jasper's Reflexes</h3>        
      <form style="position:relative">
        <input id="test_msg" type="text" style="height: 30pt;border: solid 2pt lightslategray;width: min(50vw, 400px);overflow-x: scroll;padding-right: 75px;" placeholder="Test message">
        <input id="test_data" type="text" style="height: 30pt;border: solid 2pt lightslategray;overflow-x: scroll;padding-right: 75px;" placeholder="Test data">
        <button id="test_submit" class="button" type="button" style="position:absolute;right:0px; hwidth: min(50vw, 400px); height: 47.3125px">Trigger</button>
    </form>
   </body>
</html>